cours/
Julien/
rattrapages/
bin/
CMakeCache.txt
CMakeFiles/
be/fh_1A/others/

Spice/

*-genere.tex

*.exe


# ISE…

*.bgn
*.bit
*.xwbt
*.bld
*.cmd
*.cmd_log
*.drc
*.edif
*.html
*.ibs
*.jhd
*.jou
*.nc
*.lso
*.lst
*.map
*.mrp
*.ncd
*.ngc
*.ngd
*.ngr
*.ngm
*.nlf
*.pad
*.par
*.pcf
*.pcs
*.prf
*.prj
*.psg
*.ptwx
*.ppr
*.pwr
*.schbak
*.schcmd
*.sdf
*.stx
*.sym
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.v
*.vhf
*.xml
*.xmsgs
*.xdl
*.xpi
*.xst
*.xrpt
*.wdb
*.wpc
*.gise
*.xise
xilinxsim.ini
isim/
iseconfig/
ipcore_dir/
_ngo/
xlnx_auto_0_xdb/
xst/

