#NET "rst" LOC="H13";
NET "clk" LOC="B8";
#NET "clk_out" LOC="J14";
#NET "sens" LOC="G18";
#NET "Q(0)" LOC="E17";
#NET "Q(1)" LOC="P15";
#NET "Q(2)" LOC="F4";
#NET "Q(3)" LOC="R4";
NET "bp" LOC="G18";
NET "rst" LOC="D18";
#NET "bp_ar" LOC="J14";
NET "cmpt_anti_rebond(0)" LOC="J14";
NET "cmpt_anti_rebond(1)" LOC="J15";
NET "cmpt_anti_rebond(2)" LOC="K15";
NET "cmpt_anti_rebond(3)" LOC="K14";
NET "cmpt_avec_rebond(0)" LOC="E17";
NET "cmpt_avec_rebond(1)" LOC="P15";
NET "cmpt_avec_rebond(2)" LOC="F4";
NET "cmpt_avec_rebond(3)" LOC="R4";
