NET "clk" LOC="B8";
NET "rst" LOC="B18";
NET "sept_seg(6)" LOC="L18";
NET "sept_seg(5)" LOC="F18";
NET "sept_seg(4)" LOC="D17";
NET "sept_seg(3)" LOC="D16";
NET "sept_seg(2)" LOC="G14";
NET "sept_seg(1)" LOC="J17";
NET "sept_seg(0)" LOC="H14";
NET "num_aff(0)" LOC="F17";
NET "num_aff(1)" LOC="H17";
NET "num_aff(2)" LOC="C18";
NET "num_aff(3)" LOC="F15";
NET "A(3)" LOC="R17";
NET "A(2)" LOC="N17";
NET "A(1)" LOC="L13";
NET "A(0)" LOC="L14";
NET "B(3)" LOC="K17";
NET "B(2)" LOC="K18";
NET "B(1)" LOC="H18";
NET "B(0)" LOC="G18";
NET "sortie(7)" LOC="R4";
NET "sortie(6)" LOC="F4";
NET "sortie(5)" LOC="P15";
NET "sortie(4)" LOC="E17";
NET "sortie(3)" LOC="K14";
NET "sortie(2)" LOC="K15";
NET "sortie(1)" LOC="J15";
NET "sortie(0)" LOC="J14";